.token {
  background-color: pink;
  border: 1px solid black;
  font-size: x-large;
  text-align: center;
}

.score {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: x-large;
}
